@model WebApplication4.Models.Ubicacione

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar ubicacion</h1>

<h3>Seguro lo quieres borrar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoUbicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoUbicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libro.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
